body {
  max-width: 100%;
  margin: 0px auto;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: flex;
  height: 91px;
  background-color: black;
}

.mainContainer {
  display: flex;
  width: 100%;
}
