body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    height: 91px;
    background-color: black;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 17%;
}
.logo > img {
    width: 178px;
}

